GHCR_IMAGE=ghcr.io/jessielung-design/greenlight
IMAGE_TAG=latest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
SECRET_KEY_BASE=please-change-me
DATABASE_URL=postgres://postgres:password@postgres:5432/greenlight-v3-production
REDIS_URL=redis://redis:6379
BIGBLUEBUTTON_ENDPOINT=
BIGBLUEBUTTON_SECRET=
GREENLIGHT_PORT=5050
LOGGING_DRIVER=json-file
